.content_section{
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1vw;
}

.user_img{
    width: 2vw;
}

.user_icon{
    display: none;
}

.user_info{
    margin-left: 1rem;
    padding: 0.5rem;
    
    h1{
        font-size: 1.5vw;
    }

    div{
        font-size: 1vw;
        display: flex;
        color: var(--gris-oscuro);
        p{
            margin-left: .5vw;
        }
    }
}

.boards_section{
    margin: 1vw;

}

.user_boards{
    margin: 1vw;
    display: flex;
    gap: 1vw;
}

.board_button_link{
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 10vw;
    border-radius: 1vw;
    border: .1rem solid var(--gris-medio);
    color: var(--color-texto-primario);

    &:hover{
        border: .12rem solid var(--color-primario);
    }
}

.board_draw, .board_draw_activity{
    height: 80%;
    width: 100%;
    background: radial-gradient(circle, var(--color-primario) 0%, var(--color-texto-app) 100%);
    border-radius: 1vw 1vw 0rem 0rem;
    border: .1rem solid var(--gris-medio);
}

.board_name{
    font-size: 1vw;
    padding: .3vw;
}

.board_button_add{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gris-claro);
    width: 25%;
    height: 10vw;
    border-radius: 1vw;
    border: .1vw solid var(--gris-medio);
    color: var(--gris-oscuro);
    font-size: 1vw;

    &:hover{
        background-color: var(--gris-medio);
        border: .15rem solid var(--gris-oscuro);
        color: var(--texto-primario);
    }
}

.recent_activity{
    margin-top: 1vw;
}

.recent_activity_header{
    margin: 1.3vw 0vw 1.5vw 1vw;
    display: flex;
    justify-content: space-between;
}

.recent_activity_header_wrapper{
    display: flex;
    font-size: 1vw;

    p{
        font-weight: bold;
        margin-left: .5vw;
    }
}

.clock_icon{
    width: 1.3vw;
}

.header_link{
    display: none;
}

.board_button_activity{
    display: flex;
    flex-direction: column;

    width: 75%;
    height: 11vw;
    border-radius: 1vw;
    border: .1rem solid var(--gris-medio);
    color: var(--color-texto-primario);

    &:hover{
        border: .12rem solid var(--color-primario);
    }
}

.board_info{
    div{
        display: flex;
        justify-content: space-between;
        padding: .4vw;
    }
}

.board_date{
    font-size: 1vw;
}

.activity_details{
    color: var(--color-texto-secundario);
    font-size: 1vw;
    margin-left: 2vw;
    margin-bottom: .4vw;
}

.secondary_button {
    border: 0.15vw solid var(--color-boton-primary);
    background-color: white;
    border-radius: .6vw;
    box-shadow: 0.2rem 0.3rem 0.2rem var(--gris-oscuro);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: .7vw;
    font-weight: 600;
    padding: .6vw;
    text-decoration: none;
    color: var(--color-boton-primary);
}

.secondary_button:hover {
    border: 0.1rem solid var(--color-boton-secondary);
    background-color: var(--color-boton-primary);
    box-shadow: 0rem 0rem 0rem transparent;
    transform: translate(0.2rem, 0.3rem);
    color: var(--color-boton-primary-hover);
}

.separator{
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.responsive_welcome{
    display: none;
}


/* -------- Responsive Design --------- */
@media (max-width: 576px){

    .separator{
        display: none;
    }

    .responsive_welcome{
        display: flex;
        align-items: center;
    }

    .welcome_img{
        width: 8vw;
        height: 8vw;
        margin-right: 1vw;
    }

    .content_section{
        background-color: var(--gris-claro);
        padding: 1rem;
        height: 100vh;
    }

    .header_content{
        display: flex;
        justify-items: center;
        flex-direction: column;
    }

    .user_info{
        justify-self: flex-start;
        align-self: flex-start;
        margin-left: -1.5vw;

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            display: flex;
            align-items: flex-end;
            font-size: 3vw;
            color: var(--color-texto-secundario);
        }
    }

    .user_icon, .clock_icon{
        display: flex;
        width: 6vw;
        margin-right:  1vw;
        color: var(--color-texto-secundario);
    }

    .user_img{
        display: none;
    }

    .boards_article_header_wrapper{
        display: flex;
        align-items: center;

        p{
            font-size: 3vw;
        }
    }

    .header_link{
        display: flex;
        color: var(--color-texto-app);
        align-items: center;
        font-size: 3vw;
    }

    .secondary_button{
        display: none;
    }

    .user_boards{
        flex-direction: column;
    }

    .board_button_add,
    .board_button_link,
    .board_button_activity{
        width: 100%;
        border-radius: .4rem;
    }

    .board_button_link{
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        padding: .2rem;
        background-color: white;
    }

    .board_draw{
        width: 12%;
        border-radius: .4rem;
    }
    
    .board_draw_activity{
        width: 15%;
        height: 100%;
        border-radius: .4rem 0rem 0rem .4rem;
    }

    .board_name{
        font-size: 3vw;
    }

    .board_button_activity{
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 7.3vh;
        box-shadow: 0.2rem 0.3rem 0.2rem var(--gris-medio);
        margin: 1vh 0vw 1vh 0vh;
    }

    .activity_details{
        align-self: flex-end;
        font-size: 2.7vw;
        color: var(--texto-primario);
        font-weight: bold;
    }

    .board_info{
        width: 85%;

        div{
            align-items: center;
            .board_name{
                color: var(--color-texto-secundario);
                font-size: 2vw;
            }
        }
    }

    .board_date{
        margin-right: 1vw;
        font-size: 1.5vw;
    }


    .recent_activity_header{
        align-items: center;
    }

    .recent_activity_header_wrapper{
        align-items: center;

        p{
            font-size: 3vw;
            font-weight: 500;
            color: var(--color-texto-secundario);
        }
    }

    .boards_section{
        margin-bottom: 3vh;
    }
}