:root {
    --color-primario: #396E81;
    --color-secundario: #f0f0f0;
    --color-terciario: #006E83;
    --color-texto-primario: #222;
    --color-texto-secundario: #4D4D4D;
    --color-texto-app: #3AAFA9;
    --color-texto-enlace: #222;
    --color-acento: #4A7984;
    --gris-claro: #EAEAEA;
    --gris-medio: #D3D3D3;
    --gris-oscuro: #707070;
    --verde-clarito: #E2F7FF;
    --subnavbar-bg: #4E94AD;
    --bg-verde: #A8D1D5;
    --color-boton-primary: #396E81;
    --color-boton-primary-hover: #F0F0F0;
    --color-boton-seconday: #F0F0F0;
    --color-boton-seconday-hover: #396E81;
    --color-bg-navBar: #FAFAFA;

    --fuente-principal: 'Poppins', sans-serif;
    --max-width: 100%;
}


.board{
    background-color: var(--bg-verde);
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1; 
}

.board_lists{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: flex-start;
    gap: .1vh;
    padding: 1vh;
}

.board_lists > *{
    flex-shrink: 0;
}